@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root {
    --cor0: #bd3944;
    --cor1: #fd4556;
    --cor2: #53212b;
    --cor3: #000000;
    --cor4: #fffbf5;
    --cor5: #7e7e7e;
    --cor6: #424242;
    --font-principal: "Oxanium", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

.header{
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Hamburguer{
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.Hamburguer:hover{
    cursor: pointer;
}

.linha{
    background-color: #000000;
    width: 65%;
    height: 4px;
    border-radius: 3px;
    margin-left: 40px;
}

.linhaX{
    background-color: #ffffff;
    width: 65%;
    height: 4px;
    border-radius: 3px;
    margin-left: 40px;
    transition: all 0.5s ease-in-out;
}

#navbar{
    width: 60%;
    transition: all 0.5s ease-in-out;
}

.navbarOn {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.navbarOff {
    opacity: 0;
    transform: translateX(-40%);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

.navlista{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  
}

.links{
    font-family: var(--font-principal);
    text-decoration: none;
    color: var(--cor3);
    border-bottom: 1px solid var(--cor3);
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}

.imgLogo{

    object-fit: contain;
    width: 30%;
}

.containerP{
    background-color: var(--cor6);
    min-height: 100vh;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.search{
    display: flex;
    gap: 20px;
    position: relative;
    margin-bottom: 200px;
}

.containerCard{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}


.buscar{
    background: none;
    border: 2px solid #fffbf5;
    color: #f5f5f5;
    height: 50px;
    width: 1020px;
    padding: 15px 50px 15px 18px;
    border-radius: 20px;
    font-family: var(--font-principal);
    font-size: 20px;
    margin-top: 40px;
    
}

.buscar::placeholder{
    color: var(--cor4);
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 20px;
}

input.buscar:focus{
    border: 2px solid #bd3944;
    outline: none;
}

.buscarbtn{
    background-color: #f5f5f5;
    font-weight: 700;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    left: 93.78%;
    top: 8%;
    height: 41.5px;
    width: 60px;
}

.buscarbtn:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--cor0);
    color: #f5f5f5;
}

.containerF{
    display: flex;
    flex-direction: row;
}

.funcoes{
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.cardLinks{
    text-decoration: none;
}

.cardLinks:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.03);
}

.imgf{
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid var(--cor1);
    height: 410px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImg{
    content: var(--font-principal);
    object-fit: contain;
    max-width: 100px;
    margin: 15px 0px 50px 0;
    
}

.imgp{
    color: var(--cor4);
    font-weight: 700;
    font-size: 25px;
    font-family: var(--font-principal);
    margin-bottom: 35px;
}

.cardParagraph{
   color: var(--cor4);
   text-align: justify;
   hyphens: auto; 
   font-size: 16px;
   font-family: var(--font-principal);
   margin-bottom: 10px;

}

.clickForMore{
    color: var(--cor1);
    border-bottom: 1px solid var(--cor0);
}

.clickForMore:hover{
    color: var(--cor2);
    border-bottom: 1px solid var(--cor2);
    transition: all 0.2s ;
}

.containerFunctions{
    background-color: var(--cor0);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardLink{
    text-decoration: none;
}


.cardAgentes{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    max-height: 70%;
    border: 2px solid var(--cor3);
    border-radius: 15px;
    padding: 40px;
}

.containerImgFunc{
    display: flex;
    justify-content: space-between;
}

.cardAgentesImage{
    border: 2px solid var(--cor3);
    border-radius: 5px;
    background-color: var(--cor3);
}

.cardAgentesFuncao{
    color: var(--cor3);
    font-weight: 700;
    border: 2px solid var(--cor3);
    border-radius: 6px;
    padding: 5px 10px;
}

.cardAgentesTitle{
    text-align: center;
    color: var(--cor3);
    font-size: 32px;
    margin-top: 25px;
}

.cardAgentesParagrafo{
    margin: 20px 0;
    text-align: center;
    color: var(--cor3);
}

.containerHabilidades{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.habilidade{
    color: var(--cor3);
    font-weight: 700;
    border-bottom: 2px solid var(--cor3);
}

